.container-3xl {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  max-width: 1288px;

  @media all and (max-width: 1310px) {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.container-2xl {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  max-width: 840px;

  @media all and (max-width: 1310px) {
    padding-right: 20px;
    padding-left: 20px;
  }
}

main {
  ul {
    margin-top: 80px;
    list-style: none;
    padding-left: 0;

    li {
      width: max-content;
      margin: 0 auto;
    }
  }
}