.news-article-info {
  margin-top: 80px;
  h1 {
    margin: 8px auto;
  }
  .post-information {
    color: $clr-grey;
  }
}
.breadcrumb {
  font-family: $main-font;
  margin-bottom: 8px;
}
.news-article-img img {
  clip-path: polygon(0 0, 100% 0, 97% 96%, 0% 100%);
  margin-top: 40px;
  @media all and (min-width: 968px) {
    margin-top: 40px;
  }
}
.news-article-text {
  margin: 40px auto;
  @media all and (min-width: 968px) {
    margin: 80px auto;
  }
  .news-article-text-author {
    margin-top: 80px;
  }
}
.recent-news {
  border-top: 1px solid $clr-grey-light;
  h2 {
    margin-top: 80px;
    margin-bottom: 32px;
  }
  .recent-news-wrapper {
    margin-top: 0;

    .col {
      margin-top: 0;
    }
  }
}

